@import url('https://rsms.me/inter/inter.css');

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.boxContainer {
  background-color: #ffffff;
  width: 90%;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: blue;
  margin-bottom: 20px;
}

.Header {
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 10em;
  font-weight: 600;
  padding-top: 25px;
}

.Mission {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.Sentence {
  font-family: 'Inter', sans-serif;
  color: #fff;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}